In [2]:
import pandas as pd
import glob
import os

In [ ]:
files_join = os.path.join('/content/drive/MyDrive/Project_1/travel_data/Korea_data', 'DM_DMSTC_TOUR_TOP10_TREND_DATA_RESULT_*.csv')

In [ ]:
list_files = glob.glob(files_join)

In [ ]:
df = pd.concat(map(pd.read_csv, list_files), ignore_index=True)

In [ ]:
os.chdir('/content/drive/MyDrive/Project_1/travel_data')

In [ ]:
df.to_csv('Korea.csv', index=False, encoding='utf-8-sig')

In [ ]:
df.head(5)

,SEQ_NO,ALL_KWRD_RANK_CO,SRCHWRD_NM,UPPER_CTGRY_NM,LWPRT_CTGRY_NM,CNTT_NM,COUNTRY_NM,MOBILE_SCCNT_VALUE,PC_SCCNT_VALUE,SCCNT_SM_VALUE,SCCNT_DE
0,19194,1,일본여행,여행,해외여행,아시아,일본,1056,327,1383,20200610
1,19195,2,베트남여행,여행,해외여행,아시아,베트남,630,209,839,20200610
2,19196,3,대만여행,여행,해외여행,아시아,대만,585,174,759,20200610
3,19197,4,발리여행,여행,해외여행,아시아,인도네시아,448,144,592,20200610
4,19198,5,괌여행,여행,해외여행,오세아니아,미국,400,175,575,20200610

In [ ]:
df['SCCNT_DE'].value_counts() > 10

In [ ]:
df.loc[df['SCCNT_DE'] == 20211226, ]

In [3]:
korea_df = pd.read_csv('/content/drive/MyDrive/Project_1/travel_data/Korea.csv')
Oversea_df = pd.read_csv('/content/drive/MyDrive/Project_1/travel_data/Overseas.csv')

In [6]:
Oversea_df.drop(['UPPER_CTGRY_NM', 'SEQ_NO', 'CNTT_NM'], inplace=True, axis=1)

In [12]:
Oversea_df['AREA_NM'] = Oversea_df['COUNTRY_NM']

In [13]:
Oversea_df.drop('COUNTRY_NM', axis=1, inplace = True)

In [16]:
Oversea_df

,ALL_KWRD_RANK_CO,SRCHWRD_NM,LWPRT_CTGRY_NM,MOBILE_SCCNT_VALUE,PC_SCCNT_VALUE,SCCNT_SM_VALUE,SCCNT_DE,AREA_NM
0,1,일본여행,해외여행,1056,327,1383,20200610,일본
1,2,베트남여행,해외여행,630,209,839,20200610,베트남
2,3,대만여행,해외여행,585,174,759,20200610,대만
3,4,발리여행,해외여행,448,144,592,20200610,인도네시아
4,5,괌여행,해외여행,400,175,575,20200610,미국
...,...,...,...,...,...,...,...,...
8046,6,오사카여행,해외여행,922,3124,4046,20230302,일본
8047,7,태국여행,해외여행,650,3118,3768,20230302,태국
8048,8,발리여행,해외여행,601,3098,3699,20230302,인도네시아
8049,9,세부여행,해외여행,714,2978,3692,20230302,필리핀
8050,10,홍콩여행,해외여행,694,2907,3601,20230302,중국

In [ ]:
korea_df.drop(['UPPER_CTGRY_NM', 'SEQ_NO'], inplace=True, axis=1)

In [19]:
korea_df_t = korea_df.copy()

In [21]:
korea_df.drop('AREA_NM', axis=1, inplace=True)

In [22]:
korea_df['AREA_NM'] = korea_df_t['AREA_NM']

In [ ]:
Oversea_df

In [26]:
Oversea_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8051 entries, 0 to 8050
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ALL_KWRD_RANK_CO    8051 non-null   int64
 1   SRCHWRD_NM          8051 non-null   object
 2   LWPRT_CTGRY_NM      8051 non-null   object
 3   MOBILE_SCCNT_VALUE  8051 non-null   int64
 4   PC_SCCNT_VALUE      8051 non-null   int64
 5   SCCNT_SM_VALUE      8051 non-null   int64
 6   SCCNT_DE            8051 non-null   int64
 7   AREA_NM             8051 non-null   object
dtypes: int64(5), object(3)
memory usage: 503.3+ KB

In [28]:
korea_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5380 entries, 0 to 5379
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ALL_KWRD_RANK_CO    5380 non-null   int64
 1   SRCHWRD_NM          5380 non-null   object
 2   LWPRT_CTGRY_NM      5380 non-null   object
 3   MOBILE_SCCNT_VALUE  5380 non-null   int64
 4   PC_SCCNT_VALUE      5380 non-null   int64
 5   SCCNT_SM_VALUE      5380 non-null   int64
 6   SCCNT_DE            5380 non-null   int64
 7   AREA_NM             5380 non-null   object
dtypes: int64(5), object(3)
memory usage: 336.4+ KB

In [ ]:
korea_df

In [29]:
df = pd.concat([Oversea_df, korea_df], ignore_index=True)

In [31]:
df.loc[df['LWPRT_CTGRY_NM'] == '해외여행', ]

,ALL_KWRD_RANK_CO,SRCHWRD_NM,LWPRT_CTGRY_NM,MOBILE_SCCNT_VALUE,PC_SCCNT_VALUE,SCCNT_SM_VALUE,SCCNT_DE,AREA_NM
0,1,일본여행,해외여행,1056,327,1383,20200610,일본
1,2,베트남여행,해외여행,630,209,839,20200610,베트남
2,3,대만여행,해외여행,585,174,759,20200610,대만
3,4,발리여행,해외여행,448,144,592,20200610,인도네시아
4,5,괌여행,해외여행,400,175,575,20200610,미국
...,...,...,...,...,...,...,...,...
13426,6,강릉여행,국내여행,124,633,757,20220319,강원도
13427,7,남해여행,국내여행,81,668,749,20220319,경상남도
13428,8,군산여행,국내여행,57,643,700,20220319,전라북도
13429,9,대구여행,국내여행,52,527,579,20220319,대구광역시
13430,10,속초여행,국내여행,66,407,473,20220319,강원도

In [35]:
df

,ALL_KWRD_RANK_CO,SRCHWRD_NM,LWPRT_CTGRY_NM,MOBILE_SCCNT_VALUE,PC_SCCNT_VALUE,SCCNT_SM_VALUE,SCCNT_DE,AREA_NM
0,1,일본여행,해외여행,1056,327,1383,20200610,일본
1,2,베트남여행,해외여행,630,209,839,20200610,베트남
2,3,대만여행,해외여행,585,174,759,20200610,대만
3,4,발리여행,해외여행,448,144,592,20200610,인도네시아
4,5,괌여행,해외여행,400,175,575,20200610,미국
...,...,...,...,...,...,...,...,...
13426,6,강릉여행,국내여행,124,633,757,20220319,강원도
13427,7,남해여행,국내여행,81,668,749,20220319,경상남도
13428,8,군산여행,국내여행,57,643,700,20220319,전라북도
13429,9,대구여행,국내여행,52,527,579,20220319,대구광역시
13430,10,속초여행,국내여행,66,407,473,20220319,강원도

In [37]:
from datetime import date

In [47]:
df['SCCNT_DE'] = df['SCCNT_DE'].map(lambda x : date(x//10000, x%10000//100, x%100))

In [48]:
df

,ALL_KWRD_RANK_CO,SRCHWRD_NM,LWPRT_CTGRY_NM,MOBILE_SCCNT_VALUE,PC_SCCNT_VALUE,SCCNT_SM_VALUE,SCCNT_DE,AREA_NM
0,1,일본여행,해외여행,1056,327,1383,2020-06-10,일본
1,2,베트남여행,해외여행,630,209,839,2020-06-10,베트남
2,3,대만여행,해외여행,585,174,759,2020-06-10,대만
3,4,발리여행,해외여행,448,144,592,2020-06-10,인도네시아
4,5,괌여행,해외여행,400,175,575,2020-06-10,미국
...,...,...,...,...,...,...,...,...
13426,6,강릉여행,국내여행,124,633,757,2022-03-19,강원도
13427,7,남해여행,국내여행,81,668,749,2022-03-19,경상남도
13428,8,군산여행,국내여행,57,643,700,2022-03-19,전라북도
13429,9,대구여행,국내여행,52,527,579,2022-03-19,대구광역시
13430,10,속초여행,국내여행,66,407,473,2022-03-19,강원도

In [51]:
df.loc[df['LWPRT_CTGRY_NM'] == '국내여행', 'SCCNT_DE'].max()

datetime.date(2023, 5, 28)

In [52]:
type(df['SCCNT_DE'][0])

datetime.date

In [49]:
os.chdir('/content/drive/MyDrive/Project_1/travel_data')

In [50]:
df.to_csv('travel_data.csv', index=False, encoding='utf-8-sig')