In [3]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [4]:
df = pd.read_csv('/content/drive/MyDrive/Project_1/travel_data/Korea.csv')

In [5]:
df.head()

,SEQ_NO,ALL_KWRD_RANK_CO,SRCHWRD_NM,UPPER_CTGRY_NM,LWPRT_CTGRY_NM,AREA_NM,MOBILE_SCCNT_VALUE,PC_SCCNT_VALUE,SCCNT_SM_VALUE,SCCNT_DE
0,41312,1,부산여행,여행,국내여행,부산광역시,2170,945,3115,20191125
1,41313,2,제주여행,여행,국내여행,제주특별자치도,1669,396,2065,20191125
2,41314,3,경주여행,여행,국내여행,경상북도,906,279,1185,20191125
3,41315,4,강릉여행,여행,국내여행,강원도,843,281,1124,20191125
4,41316,5,여수여행,여행,국내여행,전라남도,734,240,974,20191125

In [6]:
df.isna().sum()

SEQ_NO                0
ALL_KWRD_RANK_CO      0
SRCHWRD_NM            0
UPPER_CTGRY_NM        0
LWPRT_CTGRY_NM        0
AREA_NM               0
MOBILE_SCCNT_VALUE    0
PC_SCCNT_VALUE        0
SCCNT_SM_VALUE        0
SCCNT_DE              0
dtype: int64

In [7]:
df['UPPER_CTGRY_NM'].nunique() #하나 밖에 없음

1

In [8]:
df['LWPRT_CTGRY_NM'].nunique() # 하나 밖에 없음

1

In [9]:
df = df.drop(columns=['UPPER_CTGRY_NM', 'LWPRT_CTGRY_NM', 'SEQ_NO'], axis=1) # 값이 하나밖에 없으므로 삭제하자.

In [10]:
df.head()

,ALL_KWRD_RANK_CO,SRCHWRD_NM,AREA_NM,MOBILE_SCCNT_VALUE,PC_SCCNT_VALUE,SCCNT_SM_VALUE,SCCNT_DE
0,1,부산여행,부산광역시,2170,945,3115,20191125
1,2,제주여행,제주특별자치도,1669,396,2065,20191125
2,3,경주여행,경상북도,906,279,1185,20191125
3,4,강릉여행,강원도,843,281,1124,20191125
4,5,여수여행,전라남도,734,240,974,20191125

In [11]:
df['SCCNT_DE'].value_counts()

20191125    10
20210719    10
20210621    10
20210618    10
20210606    10
            ..
20200526    10
20200528    10
20200529    10
20200518    10
20220319    10
Name: SCCNT_DE, Length: 538, dtype: int64

In [12]:
import os
os.chdir('/content/drive/MyDrive/Project_1/travel_data')
df.to_csv('Korea_data.csv', index=False, encoding='utf-8-sig')